.container

  .square.border-1
    %h1 
      %img{:src=>@settings.logo.url(:medium), :height=>"75px;"}
    %hr
    %h2.upper
      Log in

    .div{:style=>"padding: 20px;"}

      =form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

        .form-group
          = f.label :email, :class=>"control-label"
          = f.email_field :email, :class=>"form-control"

        .form-group
          =f.label :password, :class=>"control-label"
          =f.password_field :password, autocomplete: "off", :class=>"form-control"

        .row
          .col-sm-8.left
            - if devise_mapping.rememberable?
              .form-group
                =f.check_box :remember_me
                =f.label :remember_me
          .col-sm-4.right
            .actions
              =f.submit "Log In", :class=> "btn btn-primary"

    %p
    = render "devise/shared/links" 
    %p