/*

© 2013-2014 Project 529, Inc.  ALL RIGHTS RESERVED

This “529 Garage” is proprietary to Project 529, Inc. No part of this work may be used or reproduced in any form or by any means, or stored in a database or retrieval system, without prior written permission of, or pursuant to a specific license granted by, Project 529, Inc. This program contains confidential and proprietary information of Project 529, Inc. which is protected by copyright, trade secret, trademark and other intellectual property rights.

*/

/* constants */
$root_url: '/garage/';
$yellow: #ffd600;
$red: #ed1c24; // rgb(237, 28, 36)
$sans-serif: 'Abel', sans-serif;
$serif: 'Sanchez', serif;
$cursive: 'Calligraffitti', cursive;
$bodyfont-size: 13pt;
$black: #333333;
$light: rgba(255,255,255,.85);
$screen-sm-max: 1170px;
$screen-md-min: 1171px;
$grid-float-breakpoint: 1171px;

