.container
	%h2	
		%img{:src=>@settings.logo.url(:medium), :height=>"100px;"}
	%h2
		=@settings.account.name + "'s Lists"
	%p.bottom-border
	.square-60
		-@achievements.each do |item|
			%h4
				.row.left.bottom-border{:style=>"height: 100px;"}

					.col-sm-1
						%a{:href=>achievement_path(item.id)}
							%img{:src=>item.icon.url(:thumb), :height=>"50px;"}
					.col-sm-7
						%a{:href=>achievement_path(item.id)}
							=item.name
						%p
						-if item.prereq.present?
							Requires: 
							%a{:href=>achievement_path(item.prereq)}
								=item.prereq.name
					.col-sm-3.right
						-if current_user.nil? 
							%a.btn.btn-primary{:href=>achievement_path(item.id)}
								Learn More
						-elsif !current_user.working_on(item.id)
							%a.btn.btn-primary{:href=>achievement_path(item.id)}
								Learn More
						-else
							%a.btn.btn-primary{:href=>"/index/"+item.id.to_s}
								In Progress