.container
	.square-60.border-1
		%h2
			=@achievement.name
		%p
		%ul.list-unstyled.fat-list.left
			=@achievement.description.html_safe if @achievement.description.present?
		%h3
			= "The Rules" if @achievement.rules.present? 
		%ul.list-unstyled.fat-list.left
			=@achievement.rules.html_safe if @achievement.rules.present?

		-if current_user.nil? 
			%a.btn.btn-primary{:href=>"/achievements/"+@achievement.id.to_s+"/sign_up"}  
				Sign Me Up
		-elsif !current_user.working_on(@achievement.id) && current_user.prereqs_complete(@achievement.id)
			%a.btn.btn-primary{:href=>"/achievements/"+@achievement.id.to_s+"/sign_up"} 
				Sign Me Up
		-elsif !current_user.prereqs_complete(@achievement.id)
			%H3
				First, finish this list:
				%a{:href=>achievement_path(@achievement.prereq)}
					=@achievement.prereq.name
		-else
			%h3
				%a{:href=>"/index/"+@achievement.id.to_s+"/"}
					You are currently working on this list



	-@achievement.tasks.each do |task|
		%h3
			The #{task.name} List



		-if task.required_list_items.size > 0	
			.row.inverse
				.col-md-12
					%h3.upper
						Taste each of these:
			.row
				.col-md-12
					-task.required_list_items.each do |item|
						.item_wrap
							.col-md-2.item
								.row
									.col-lg-12.center.item-image
										%img{:src=>item.photo.url(:medium), :style=>"padding: 5px;"}
								.row
									.col-lg-12
										=item.full_name


		-if task.optional_list_items.size > 0
			.row.inverse
				.col-md-12
					%h3.upper
						Taste any #{(task.total_items_needed - task.required_list_items.size)} of these:
			.row
				.col-md-12
					-task.optional_list_items.each do |item|
						.item_wrap
							.col-md-2.item
								.row
									.col-lg-12.center.item-image
										%img{:src=>item.photo.url(:medium), :style=>"padding: 5px;"}
								.row
									.col-lg-12
										=item.full_name

