.container
	%h2	
		%img{:src=>@settings.logo.url(:medium), :height=>"100px;"}
	.square-60.border-1
		%h2
			%img{:src=>@achievement.icon.url(:medium), :height=>"75px;"}
			=@achievement.name
		%hr
		.row
			.col-sm-6
				%h3
					About the List
				%ul.list-unstyled.fat-list.left
					=@achievement.description.html_safe if @achievement.description.present?

				-if current_user.nil? 
					%a.btn.btn-primary{:href=>"/achievements/"+@achievement.id.to_s+"/sign_up"}  
						Start
				-elsif !current_user.working_on(@achievement.id) && current_user.prereqs_complete(@achievement.id)
					%a.btn.btn-primary{:href=>"/achievements/"+@achievement.id.to_s+"/sign_up"} 
						Start
				-elsif !current_user.prereqs_complete(@achievement.id)
					%h4
						First, finish this list:
						%p
						%a.btn.btn-primary{:href=>achievement_path(@achievement.prereq)}
							=@achievement.prereq.name
				-else
					%a.btn.btn-primary{:href=>"/index/"+@achievement.id.to_s+"/"}
						You are currently working on this list

			.col-sm-6		
				%h3
					= "The Rules" 
				%ul.list-unstyled.fat-list.left
					=@achievement.rules.html_safe if @achievement.rules.present?



	%hr

	-@achievement.tasks.each do |task|
		%h3
			The #{task.name} List



		-if task.required_list_items.size > 0	
			.row.inverse
				.col-md-12
					%h4
						Taste each of these:
			.row
				.col-md-12

					-task.required_list_items.each do |item|
						.item_wrap
							.col-md-2.item
								.row.visible-lg-inline-block.visible-md-inline-block.visible-xl-inline-block
									.col-lg-12.center.item-image
										%img{:src=>item.photo.url(:small), :style=>"padding: 5px;"}

								.row.item-info
									.col-lg-12.col-xs-8
										.row
											.col-xs-12
												=item.full_name 
												%p
										.row.light-text		
											.col-xs-6
												=item.proof.to_int.to_s + " Proof" if item.proof.present?
											.col-xs-6.right
												-if item.master_list.show_price
													=number_to_currency(item.price.to_f) 
										.row.light-text
											.col-xs-12
												=item.origin.name if item.origin.present?
									.col-xs-4.visible-xs-inline-block.visible-sm-inline-block.right.item-image
										%img.border-1px{:src=>item.photo.url(:square)}





		-if task.optional_list_items.size > 0
			.row.inverse
				.col-md-12
					%h4
						Taste any #{(task.total_items_needed - task.required_list_items.size)} of these:
			.row
				.col-md-12
					-task.optional_list_items.each do |item|
						.item_wrap
							.col-md-2.item
								.row.visible-lg-inline-block.visible-md-inline-block.visible-xl-inline-block
									.col-lg-12.center.item-image
										%img{:src=>item.photo.url(:small), :style=>"padding: 5px;"}

								.row.item-info
									.col-lg-12.col-xs-8
										.row
											.col-xs-12
												=item.full_name 
												%p
										.row.light-text		
											.col-xs-6
												=item.proof.to_int.to_s + " Proof" if item.proof.present?
											.col-xs-6.right
												-if item.master_list.show_price
													=number_to_currency(item.price.to_f) 
										.row.light-text
											.col-xs-12
												=item.origin.name if item.origin.present?
									.col-xs-4.visible-xs-inline-block.visible-sm-inline-block.right.item-image
										%img.border-1px{:src=>item.photo.url(:square)}


